* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Better text styling */
	font: bold 16px 'Poppins', sans-serif;
}


html {
	height: 100%;
	background: white;
	background: #fc4a1a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	background-size: cover;
}

.keys span, .clear {
	float: left;
	position: relative;
	top: 0;

	background-color: #59ABE3;
	color: white;

	font-size: 1.5em;

	width: 6.25rem;
	height: 3.125rem;

	border: 1px solid black;
	margin: 0 7px 11px 0;

	padding-top: 0.3125rem;

	text-align: center;

}

.keys {
	width: 90%;
}

.screen {
	background-color: #dfe4ea;
	border: 1px solid black;

	font-size: 24px;

	height: 50px;
	width: 26.25rem;
	margin: 0 auto;

	text-align: right;

	margin-right: 2.5em;
	margin-bottom: 0.5em;



}

#calculator {
	width: 37.5em;
	height: auto;

	margin: 0 auto;
	margin-top: 200px;
	padding: 20px 20px 9px;
}

.keys, .top {
	overflow: hidden;
}

.top {
	width: 420px;
	display: grid;
	grid-template-columns: 100px auto;
	grid-column-gap: 6px;
}
