html {
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    font: bold 16px 'Poppins', sans-serif;
}

#map {
    height: 600px;
    width: 100%;
}

form {
    text-align: center;
    margin-bottom: 50px;
}

form input{
    width: 90%;
    height: 30px;
    margin: 0 auto; 
    display: block;
}

.error, span.error-email {
    display: block;
    color: #f45f5f;
    font-size: 0.7rem;
}

#buttonSubmit {
    margin-top: 20px;
    background-color: #555555;
    border: none;
    width: 150px;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {
    #map {
        width: 70%;
        float: right;
    }

    form {
        width: 30%;
        float: left;
    }

    .container {
        width: 100%;
    }
}